<a href="https://colab.research.google.com/github/221810402003/python/blob/master/ASSIGNMENT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def o(n):
    for i in range (len(n)):
        n[i]=int(n[i])
    for i in range (len(n)):
      print("|",end="")
      for j in range (n[i]):
        print("*",end="")
      print("")
    return
x=input("enter num")
o(list(x))

enter num41325
|****
|*
|***
|**
|*****

In [0]:
a="hebeonTech,e"
print(a.replace("e",""))

hbonTch,

In [0]:
def findNthTerm(n):  
    if n % 2 == 0: 
        n //= 2
        print(3 ** (n - 1))  
    else: 
        n = (n // 2) + 1
        print(2 ** (n - 1)) 
if __name__=='__main__': 
    N = 3
    findNthTerm(N) 
  
    N = 11
    findNthTerm(N)

2
32

In [0]:
n='Good Morning'
a=n.split()
if(len(a[0])<len(a[1])):
  print(a[1])
else:
  print(a[0])

Morning

In [0]:
n='application test'
a=n.split()
print(a[1])

test

In [7]:
def Q1(x):
  while x-2!=0:
    a=0
    b=1
    c=0
    for i in range(x-2):
      c= a+b
      a=b
      b=c
    print(c,end=" ")
    x-=1
  print('1 0')
  return
Q1(int(input("enter number")))

enter number5
3 2 1 1 0

In [1]:
li=["a","b","c","x","y","z"]
print("%s%s%s%s%s%s"%(li[0],li[3],li[1],li[4],li[2],li[5]))

axbycz

In [10]:
def Q2(n):
  a=[]
  s=0
  for i in range(n):
    a.append(int(input()))
  for i in range(n):
    c=0
    for j in range(n):
      if i!=j:
        if a[i]==a[j]:
          c+=1
    if c==0:
      s=s+a[i]
  return s
Q2(int(input("no of values")))

no of values5
22
66
55
22
99

220

In [11]:
def Q3(a,b):
  if len(a)<=len(b):
    n=len(a)
    k=len(b)
  else:
    n=len(b)
    k=len(a)
  for i in range(n):
    print(a[i],b[i])
  for j in range(n,k):
    if(len(a)<=len(b)):
      print(b[j],'*')
    else:
      print(a[j],'*')
  return
x=str(input("enter str:"))
x=x.split()
Q3(x[0],x[1])

enter str:bad water
b w
a a
d t
e *
r *