<a href="https://colab.research.google.com/github/221810402003/python/blob/master/ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##LEAP YEAR

In [2]:
a=int(input("enter year"))
if a%4==0 :
  print("leap year")
else: 
  print("not leap year")

enter year2004
leap year

##WEEK DAYS

In [5]:
n=int(input("enter a number(1-7)"))
if n==1 :
  print("monday")
elif n==2 :
  print("tuesday")
elif n==3 :
  print("wednesday")
elif n==4 :
  print("thursday")
elif n==5 :
  print("friday")
elif n==6 :
  print("saturday")
elif n==7 :
  print("sunday")
else:
  print("invalid")

enter a number(1-7)5
friday

##LARGEST OF THREE NUMBERS

In [6]:
a=int(input("enter"))
b=int(input("enter"))
c=int(input("enter"))
if a>b and a>c :
  print("a")
elif b>a and b>c :
  print("b")
else:
  print("c1")

enter1
enter3
enter5
c

##SUM OF SERIES

In [7]:
n=int(input("enter"))
s=0
for i in range(n+1):
  s=s+i
print(s)

enter5
15

##SUM OF ODD

In [11]:
n=int(input("enter"))
s=0
for i in range(n+1):
  if i%2!=0 :
    s=s+i
print(s)

enter3
4

##SUM AND AVERAGE

In [12]:
n=int(input("enter"))
s=0
for i in range(n+1):
  s=s+i
print(s)  
avg=s//n
print(avg)

enter5
15
3

##QUADRATIC EQUATION

In [13]:
a=float(input("enter"))
b=float(input("enter"))
c=float(input("enter"))
d=b*b-4*a*c
if d>0 :
  print("r1=",-b+sqrt(d)/2*a)
  print("r2=",b+sqrt(d)/2*a)
elif d==0 :
  print("r1=r2=",-b/2*a)
else:
  print("real part=",-b/2*a)
  print("imaginary=",sqrt(-d)/2*a)

enter1
enter2
enter1
r1=r2= -1.0

##DIVISOR

In [17]:
n=int(input("enter"))
for i in range(1,n+1):
  if(n%i==0):
    print(i)

enter6
1
2
3
6

##VALIDITY OF TRIANGLE

In [19]:
a=int(input("enter"))
b=int(input("enter"))
c=int(input("enter"))
if a+b<c and b+c<a and a+c<b :
  print("its is a valid triangle")
else:
  print("not a triangle")

enter1
enter7
enter5
not a triangle

##CELSIUS TO FAHRENHEIT

In [20]:
n=float(input("enter"))
f=1.8*n+32
print(f)

enter0
32.0